<nav class="navbar navbar-expand-lg fixed-top shadow">
        <div class="container">
            <a class="navbar-brand fw-bold text-white" href="#">🌐 Udara Dewshan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="">Education</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="">Skills</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
                    <!-- Clock -->
                    <li class="nav-item ms-3">
                        <span id="clock" class="text-warning fw-bold"></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>