<nav class="navbar navbar-expand-lg fixed-top shadow">
    <div class="container">
        <a class="navbar-brand fw-bold text-white" href="#">🌐 Udara Dewshan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto align-items-center">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/education" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Education</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/project" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/skill" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Contact</a>
                </li>

                <li class="nav-item ms-3">
                    <span id="clock" class="text-warning fw-bold"></span>
                </li>
            </ul>
        </div>
    </div>
</nav>