<!--Footer -->
    <footer class="footer-gradient text-light pt-5 pb-4">
        <div class="container text-center text-md-start">
            <div class="row">

                <div class="col-md-4 mb-4">
                    <h5 class="fw-bold">Udara Dewshan</h5>
                    <p>
                        Trainee Software Engineer passionate about web development, UI/UX, and building modern digital
                        solutions.
                    </p>
                </div>

                <div class="col-md-4 mb-4 text-center">
                    <h5 class="fw-bold">Follow Me</h5>
                    <a href="https://github.com/UdaraDewshan" target="_blank" class="social-icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/udara-dewshan?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BwJpFpsF1TlGBNag7e8gDAA%3D%3D"
                        target="_blank" class="social-icon">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/UdaraDewshan" target="_blank" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <div class="col-md-4 mb-4 text-md-end">
                    <h5 class="fw-bold">Contact</h5>
                    <!-- <p>Email: <a href="mailto:udaradewshan@example.com" class="text-light">dewudara@gmail.com</a></p> -->
                    <p>Phone: +94 717082645</p>
                </div>

            </div>

            <hr class="bg-light">
            <div class="text-center mt-3">
                &copy; 2025 Udara Dewshan. All Rights Reserved.
            </div>
        </div>
    </footer>